.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.content {
  background: #292d35;
  border-radius: 12px;
  padding: 24px;
  max-width: 600px;
  width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 6px;
  margin-bottom: 16px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  line-height: 1;
  transition: all 0.2s;
  display: flex;
  align-items: start;
  justify-content: start;
  border-radius: 50%;
}

.closeButton:active {
  transform: scale(0.95);
}

.closeButton svg {
  width: 20px;
  height: 20px;
  color: #64748b;
}

.closeButton:hover svg {
  color: #c0cbe1;
}

.mainImage {
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  white-space: pre-line;
  line-height: 1.2;
  color: #a6d9e8;
  font-size: 30px;

}

.textContent {
  white-space: pre-line;
  line-height: 1.6;
  color: white;
}

.footer {
  margin-top: 20px;
  padding-top: 16px;
}

.fullLink {
  display: inline-block;
  padding: 10px 20px;
  color: white !important;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.fullLink {
  background: #53ce31;
  text-decoration: none;
}

.fullLink:hover {
  background: #44852f;
  text-decoration: none;
}
